@import url("https://fonts.cdnfonts.com/css/cursed-timer-ulil");

body {
  margin: 0;
  background: white;
  font-family: Verdana, sans-serif;
}

.scoreboard {
  position: relative;
  width: 575px;
  height: 385px;
  background: #1b244a;
  margin: 40px auto;
}

/* Common styles */
.team-name {
  position: absolute;
  width: 149px;
  height: 36px;
  font-weight: bold;
  font-size: 40px;
  color: #eeeeee;
  text-align: center;
  line-height: 36px;
}

.score-box {
  position: absolute;
  width: 155px;
  height: 120px;
  background: #080001;
  border-radius: 5px;
}

.score-value {
  display: block;
  font-family: "Cursed Timer ULiL";
  font-size: 90px;
  line-height: 120px;
  color: #f94f6d;
  text-align: center;
}

.button-box {
  position: absolute;
  width: 45px;
  height: 45px;
  border: 2px solid #9aabd8;
  border-radius: 5px;
  box-sizing: border-box;
}

.button-box button {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  font-family: "Cursed Timer ULiL";
  font-size: 18px;
  color: #9aabd8;
  cursor: pointer;
}

/* HOME specific positions */
.team-home {
  left: 85px;
  top: 68px;
}

.score-home {
  top: 125px;
  left: 82px;
}

.btn-home-1 {
  top: 271px;
  left: 82px;
}

.btn-home-2 {
  top: 271px;
  left: 136px;
}

.btn-home-3 {
  top: 271px;
  left: 192px;
}

/* GUEST specific positions */
.team-guest {
  left: 340px;
  top: 68px;
}

.score-guest {
  top: 125px;
  left: 337px;
}

.btn-guest-1 {
  top: 271px;
  left: 337px;
}

.btn-guest-2 {
  top: 271px;
  left: 391px;
}

.btn-guest-3 {
  top: 271px;
  left: 447px;
}
